<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    	  <supportedRuntime version="v4.0"/>
  </startup>
  <dataConfiguration defaultDatabase="default" />
  <connectionStrings>
     </connectionStrings>

  <appSettings>
    <add key="machineKey" value="25" />
    <add key="validTaskNumber" value="10" />
    <add key="readPassengerNumber" value="10" />
    <add key="connection" value="121.43.110.247:1234:4"/>
    <add key="configWebInterface" value="http://mobileticket.fangbian.com/System/getSystemConfig.ashx" />

  </appSettings>
</configuration>