<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
  </configSections>

  <dataConfiguration defaultDatabase="default" />
  
  <connectionStrings>
    <add name="default" connectionString="server=121.43.110.247;port=3306;user id=root;database=cx_user1;password=lichao19897314;persistsecurityinfo=True" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="domain" value="cx12306.com"/>
    <add key="pw" value="lichao"/>
    <add key="maxData" value="150"/>
    <add key="maxEmail" value="150"/>
    <add key="readPassengerMinDate" value="2016-03-01"/>
    <add key="maxValid" value="1"/>
    <add key="maxValidPhone" value="30"/>
    <add key="emailDomain" value="cx12306.com,cxyilu.com,server1120.com,server1989.com"/>
    <!--是否迁移生僻身份证 1迁移-->
    <add key="isRemoveSP" value="0"/>
    <!--是否启动迁移联系人-->
    <add key="movePassenger" value="0"/>
  </appSettings>

</configuration>