<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="connection" value="server=112.124.17.153,2533;database=FB_TicketMobileSystem;uid=fbmobile;pwd=6yhnmju7#*^;pooling=false"/>
    <add key="connection1" value="server=218.244.147.216,6952;database=openapi;uid=fbadmin;pwd=fb6yhnmju7;pooling=true;connection lifetime=0;min pool size = 1;max pool size=50"/>
    <add key="system" value="server=120.24.69.53;database=TrainSystemDB;uid=sa;pwd=server!@#;pooling=true;connection lifetime=0;min pool size = 1;max pool size=50"/>

  </appSettings>
</configuration>