<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="readTick" value="1500" />
    <add key="tickCount" value="120" />
    <add key="readEmailPoint" value="500,310,250" />
    <add key="loadEmailStr" value="150612_master/index.htm?sid=" />
    <add key="dialogScript" value="100,100,100|100,100,100" />
    <add key="path" value="D:\WorkSpace\Resource\李超\Too工具集合\WindowsFormsApplication1\EmailReadTool\bin\Debug\"/>
  </appSettings>
</configuration>