<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="queue_auth" value="showmethetask" />
  </appSettings>
  <system.web>
    <httpRuntime  maxQueryStringLength="81920" requestValidationMode="2.0"  />
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="Off" />
    <machineKey
      validationKey="B8CEF0C74E23E7197FCC4C9E3617C0007D94D43C7F7A79C582C54B95D69B946DFD49CAF5AA72F9A8CA2CBA040A9DF64DC1DF90DAE1214AE4F1AB7FA56DD65C0D"
      decryptionKey="D7F1CE31847C4FB31EF51E14F3820D52B659AF8523FC932C03506CC075DB8B28" validation="SHA1"
      decryption="AES" />
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="99999999" maxQueryString="99999999" maxUrl="99999999"></requestLimits>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>