<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
  </configSections>
  <dataConfiguration defaultDatabase="default" />
  <connectionStrings>
    <add name="default" connectionString="server=121.43.110.247;port=3306;user id=root;database=cx_user1;password=lichao19897314;persistsecurityinfo=True" providerName="MySql.Data.MySqlClient" />
    <add name="otherDomainCon" connectionString="server=120.55.81.17;port=3306;user id=root;database=email;password=li7314CHAO;persistsecurityinfo=True" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="domain" value="cx12306.com,cxyilu.com" />
    <add key="pw" value="lichao" />
    <add key="reConnecton" value="150" />
    <add key="isADSL" value="false" />
    <add key="validExe" value="D:\WorkSpace\Resource\李超\Too工具集合\WindowsFormsApplication1\CX.Read163\bin\Debug\CX.Read163.exe" />
    <add key="otherDomain" value="163about.com,163mouse.com" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>