<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <variable name="logDirectory" value="${basedir}/logs/" />
  <targets>
    <default-target-parameters xsi:type="File" keepFileOpen="false" autoFlush="true" bufferSize="1024"
                               createDirs="true" encoding="utf-8"
                               layout="${longdate} ${pad:padding=5:inner=${level:uppercase=true}} ${windows-identity} ${message}" />
    <target name="info" xsi:type="File" fileName="${logDirectory}/info/${shortdate}.log" />
    <target name="trace" xsi:type="File" fileName="${logDirectory}/trace/${shortdate}.log" />
    <target name="fatal" xsi:type="File" fileName="${logDirectory}/fatal/${shortdate}.log" />
    <target name="error" xsi:type="File" fileName="${logDirectory}/error/${shortdate}.log" />
    <target name="warn" xsi:type="File" fileName="${logDirectory}/warn/${shortdate}.log" />
    <target name="debug" xsi:type="File" fileName="${logDirectory}/debug/${shortdate}.log" />
    <target name="viewer" xsi:type="NLogViewer" encoding="gb2312" address="udp://127.0.0.1:9999" />
    <target name="console" xsi:type="ColoredConsole" layout="${message} ${longdate}" />
    <!--
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    -->
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="console" />

    <!-- add your logging rules here -->
    <logger name="*" level="Info" writeTo="info" />
    <logger name="*" level="Trace" writeTo="trace" />
    <logger name="*" level="Fatal" writeTo="fatal" />
    <logger name="*" level="Error" writeTo="error" />
    <logger name="*" level="Warn" writeTo="warn" />
    <logger name="*" level="Debug" writeTo="debug" />
    <logger name="*" minlevel="Trace" writeTo="viewer" />

  </rules>
</nlog>