<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CaptchaServerCacheClientTester.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <CaptchaServerCacheClientTester.Properties.Settings>
            <setting name="Auth" serializeAs="String">
                <value>showmethetask</value>
            </setting>
            <setting name="Name" serializeAs="String">
                <value>test</value>
            </setting>
            <setting name="Url" serializeAs="String">
                <value>http://120.26.57.96</value>
            </setting>
        </CaptchaServerCacheClientTester.Properties.Settings>
    </applicationSettings>
</configuration>