<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
  </configSections>
  <dataConfiguration defaultDatabase="default" />
  <connectionStrings>
    <add name="default" connectionString="server=121.43.110.247;port=3306;user id=root;database=cx_user1;password=li7314CHAO;persistsecurityinfo=True" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="RemoteAdminSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://120.24.69.53/RemoteAdmin/RemoteAdmin.asmx"
        binding="basicHttpBinding" bindingConfiguration="RemoteAdminSoap"
        contract="Email.RemoteAdminSoap" name="RemoteAdminSoap" />
    </client>
  </system.serviceModel>
</configuration>