<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
  </configSections>
  
  <dataConfiguration defaultDatabase="default" />
  <connectionStrings>
    <!--<add name="default" connectionString="server=127.0.0.1;user id=root;database=cx_user1;password=sasa;persistsecurityinfo=True" providerName="MySql.Data.MySqlClient" />-->
    <add name="default" connectionString="server=121.43.110.247;port=3306;user id=root;database=cx_user1;password=lichao19897314;persistsecurityinfo=True;Connection Timeout=2" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="machineKey" value="25" />
    <add key="validTaskNumber" value="10" />
    <add key="readPassengerNumber" value="1" />
    <add key="connection" value="121.43.110.247:1234:4"/>
    <add key="configWebInterface" value="http://mobileticket.fangbian.com/System/getSystemConfig.ashx" />
    <add key="system" value="server=120.24.69.53;database=TrainSystemDB;uid=sa;pwd=server!@#;pooling=true;connection lifetime=0;min pool size = 1;max pool size=50"/>
  </appSettings>
</configuration>